SECRET_KEY=
DEBUG=True

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173

# Camera Configuration
# Use CAMERA_TYPE=local for laptop webcam, or CAMERA_TYPE=ip for Android IP Webcam
CAMERA_TYPE=local
CAMERA_STREAM_URL=0
